<div class="header_">
  <div class="content_header">
    <div class="content_header_left">
      <img id="imgMenu" src="../../assets/images/icon-menu.svg" alt="menu" />
      <img class="imgLogo" src="../../assets/images/logo.svg" alt="logo" />
      <div id="nav_header">
        <ul>
          <li>Collections</li>
          <li>Men</li>
          <li>Women</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="content_header_right">
      <img class="imgCart" src="../../assets/images/icon-cart.svg" alt="cart" />
      <img
        class="imgAvatar"
        src="../../assets/images/image-avatar.png"
        alt="avatar"
      />
    </div>
  </div>
</div>
