<div class="sectionOne_">
  <div class="content_sectionOne_left">
    <img src="../../assets/images/image-product-1.jpg" alt="product-1" />
  </div>
  <div class="content_sectionOne_right">
    <h4>SNEAKER COMPANY</h4>
    <h1>Fall Limited Edition Sneakers</h1>
    <p>
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durabale rubber outer sole, they'll with stand everything the
      weather can offer.
    </p>
    <div class="product_price">
      <div class="cts">
        <h2>$125.00</h2>
        <h3><span>50%</span></h3>
      </div>
      <span class="cts_price">$250.00</span>
    </div>
    <div class="ctsAddtc">
      <div class="product_count">
        <button>-</button>
        <span>0</span>
        <button>+</button>
      </div>
      <div class="product_addtocart">
        <button>
          <div>
            <img src="../../assets/images/icon-cart copy.svg" alt="imgCart" />
            <span>Add to cart</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
